<%- include('header', { socials: false }) %>

<% if (duck == null) { %>

<p>Unkown duck "<%= duckId %>". Did you spell it right?</p>

<% } else { %>

<div id="found">
  <br />
  <p>You found a duck!</p>
  <%- include('duck', { duck }); %>
  <% const tw_href = 'https://twitter.com/intent/tweet?text=' + encodeURIComponent(`@ducks_umn I just found ${duck.name} (#${duck.id})!`);
     const ig_href = 'https://instagram.com/ducks.umn'; %>
  <p>Please join the duck hunt!</p>
  <p><a target="_blank" href="<%= tw_href %>">Tweet at us</a>, <a target="_blank" href="<%= ig_href %>">tag us on IG</a>, or text 240-278-3355</p>
  <br />
  <p><a href="/">Current duckhunt status</a></p>
</div>

<% } %>

<%- include('footer') %>
